$yellowSimpsons: #fed90f;
$redSimpsons: #f14e28;
$greySimpsons: #424f46;
$greenSimpsons: #11bb66;
@font-face {
  font-family: simpsonsFont;
  src: url(/assets/simpsonFont.ttf);
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-zoom {
  from {
    opacity: 0;
    font-size: 100px;
  }
  to {
    opacity: 1;
    font-size: 40px;
  }
}
