@import "scss/assets.scss";
@import "scss/menu.scss";
@import "scss/play.scss";

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.okLetter {
  background-color: rgb(255, 255, 152);
  pointer-events: none;
}
.errorLetter {
  color: $redSimpsons;
  background-color: rgb(248, 70, 70);
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}

.fade-out {
  opacity: 0;
  transition: 1s;
}

.animationFadeIn {
  animation-name: fade-in;
  animation-duration: 1s;
  opacity: 1;
}

.animationWin {
  animation-name: fade-in-zoom;
  animation-duration: 1.5s;
  font-size: 40px;
}
