@font-face {
  font-family: simpsonsFont;
  src: url(/assets/simpsonFont.ttf); }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in-zoom {
  from {
    opacity: 0;
    font-size: 100px; }
  to {
    opacity: 1;
    font-size: 40px; } }

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(/assets/img/Los-Simpson-Wallpapers-4-700x394.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .menu__divMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 20px;
    height: 700px;
    width: 1250px; }
    .menu__divMenu__btns {
      font-family: simpsonsFont;
      padding: 15px;
      border-radius: 10px;
      font-size: 25px;
      margin-right: 5%;
      cursor: pointer;
      border: none;
      color: #424f46; }
    .menu__divMenu__btns:hover {
      background: linear-gradient(white, #fed90f);
      box-shadow: 1px 1px 30px #fed90f; }
    .menu__divMenu__alternativeBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      font-family: simpsonsFont;
      padding: 15px;
      margin-right: 5%;
      border-radius: 10px;
      width: min-content;
      height: min-content;
      background-image: url(/assets/img/fondo-nubes.jpg);
      background-repeat: no-repeat;
      background-size: cover; }
      .menu__divMenu__alternativeBox__boxOptions {
        display: flex;
        justify-content: center;
        column-gap: 15px; }
        .menu__divMenu__alternativeBox__boxOptions__btns {
          font-family: simpsonsFont;
          padding: 5px;
          border-radius: 10px;
          font-size: 15px;
          cursor: pointer;
          border: none; }
      .menu__divMenu__alternativeBox__input {
        font-family: simpsonsFont;
        width: 100%;
        border-radius: 10px;
        border: none;
        font-size: 40px;
        text-align: center; }
      .menu__divMenu__alternativeBox__msg {
        color: #831414;
        text-align: center;
        font-weight: 700;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img/fondo-nubes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .play__divPlay {
    height: 700px;
    width: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .play__divPlay__divCounter {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 20px; }
      .play__divPlay__divCounter__text {
        font-family: simpsonsFont;
        font-size: 40px;
        margin: 0;
        color: #fed90f;
        text-shadow: 1px 1px 2px black; }
      .play__divPlay__divCounter__num {
        font-family: simpsonsFont;
        font-size: 40px;
        margin: 0;
        color: #fed90f;
        text-shadow: 1px 1px 2px black; }
      .play__divPlay__divCounter__boxWin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .play__divPlay__divCounter__boxWin__msgWin {
          margin: 0;
          font-size: 100px;
          font-family: simpsonsFont;
          color: #11bb66;
          text-shadow: 1px 1px 30px whitesmoke; }
      .play__divPlay__divCounter__textLose {
        margin: 0;
        font-family: simpsonsFont;
        font-size: 70px;
        color: #f14e28;
        text-shadow: 1px 1px 50px whitesmoke; }
    .play__divPlay__divLetters {
      display: flex;
      column-gap: 30px; }
      .play__divPlay__divLetters__letters {
        width: 80px;
        height: 80px;
        border: 3px solid violet;
        background-image: url("/assets/img/error_homero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px; }
        .play__divPlay__divLetters__letters__inputLetter {
          width: 65px;
          height: 65px;
          border: none;
          text-align: center;
          font-size: 40px;
          font-weight: 600;
          font-family: simpsonsFont;
          border-radius: 50px;
          text-transform: uppercase;
          background-color: transparent; }
    .play__divPlay__boxLose {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px; }
      .play__divPlay__boxLose__msgLose {
        margin: 0;
        font-size: 60px;
        color: #fed90f;
        text-shadow: 1px 1px 2px black;
        font-family: simpsonsFont; }
      .play__divPlay__boxLose__wordLose {
        font-family: simpsonsFont;
        animation-name: fade-in;
        animation-duration: 2s;
        margin: 0;
        font-size: 100px;
        text-shadow: 1px 1px 10px #8a3333; }
    .play__divPlay__divActions {
      display: flex;
      margin-top: 30px;
      column-gap: 20px; }
      .play__divPlay__divActions__btns {
        font-family: simpsonsFont;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        color: #424f46;
        border: none; }
      .play__divPlay__divActions__btns:hover {
        background: linear-gradient(white, #fed90f);
        box-shadow: 1px 1px 30px #fed90f; }

body {
  width: 100vw;
  height: 100vh;
  margin: 0; }

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.okLetter {
  background-color: #ffff98;
  pointer-events: none; }

.errorLetter {
  color: #f14e28;
  background-color: #f84646;
  opacity: 0;
  transition: 1s;
  pointer-events: none; }

.fade-out {
  opacity: 0;
  transition: 1s; }

.animationFadeIn, .play__divPlay__divCounter__boxWin {
  animation-name: fade-in;
  animation-duration: 1s;
  opacity: 1; }

.animationWin {
  animation-name: fade-in-zoom;
  animation-duration: 1.5s;
  font-size: 40px; }
